* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top, #00aeff 70%, #f2f2f2 85%);
}

.frame {
    height: 200px;
    width: 200px;
    border: 15px solid #f2f2f2;
    border-radius: 50%;
}

.hand {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 75px;
    height: 4px;
    background: black;
    transform: rotate(90deg); 
    /* each time u change this value it re-renders */
    transform-origin: 100%;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(0.57, -0.42, 0.59, 1.63);
}




