:root {
  --font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  display: grid;
  place-items: center;
  min-height: 100vh
}

.Parent-Container {
  display: flex;
  place-items: center;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 10px;
  padding: 0px 8px 8px  ;
  background: #ddd;
  width:fit-content;

}

input {
  padding: 10px;
  font-size: var(--font-size);
  box-sizing: border-box;
  line-height: 1.25 * var(--font-size);
  display: block;
  width: 200px;
  margin: 10px 0px;
}

.Container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 200px;
}

button {
  height: 40px;
  font-size: var(--font-size);
}

