:root {
  
}

.Show {
  
}

.Container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns:  1fr 1fr 1fr;
  width: 120px;
  margin: auto;
}

button{
  height: 80px;
  width: 80px;
  font-size: 48px;
  font-weight: bold;
  
  
}

.red {
  color: red;
}

.blue {
  color: blue;
  
}
/* 
svg {
  z-index: -1;
} */