html{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

fieldset {
    border-radius: 5px;
}

legend {
    font-weight: 500;
    font-size: 14px;
}

input, button {
    padding: 5px;
}