* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* need to add scrollbar css, and button styling like in css secrets  */

html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input[type='text'] {
    padding: 5px;
    width: 18em; /* 16 * 16 = 256px*/
    height: 2.5em;
    border: 1px solid #999;
    border-radius: 3px;
    outline: none;
    transition: 0.3s ease;
}

#inputBar:focus {
    border-color: #007Bff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4)
}

#submitBtn, button {
    padding: 5px;
    height: 2.5em;
    border: 1px solid #999;
    border-radius: 5px;
    color: #007Bff linear-gradient( hsla(0,0%,100%), transparent);
}

button:hover {
    cursor: pointer;
}

#Modal {
    display: none;
}

#list-container {
    height: 12.5em;
    width: 22.5em;
    border: 1px solid #bbb;
    margin-top: 5px;
    overflow-y: scroll;
}

#list-container li {
    display: flex;
    align-items: center;
    overflow:hidden;
    line-height: 2em;
    padding: 5px;
}

#list-container li:hover {
    background: rgba(70, 108, 211, 0.3)
}

#searchBtn {
    position: relative;
    bottom: -9px;

}

input[type='checkbox'] {
    height: 15px;
    width: 15px;
    float: left;
}

.editBtn{
    float: right;
    margin-right: 5px; 

}

.deleteBtn {
    float: right;
    margin-right: 5px; 
}


