@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #5EABD6;
    /* --secondary-color: ; */
    --text-color: ;
    /* --secondary-text-color: ; */
    --border-color: #999;
    /* --focused-border-color: #007Bff; */
    
    
}

/* need to add scrollbar css, and button styling like in css secrets  */

html {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* font-family: poppins; */
}

.search-input {
    max-width: 18em;
}

input[type='text'] {
    padding: .3em; /* .3 * 16 = 4.8px*/
    width: 18em; /* 16 * 16 = 256px*/
    height: 2.5em;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none; /*why ? */
    transition: 0.3s ease;
}

input[type="text"]:focus {
    border-color: #0070ff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4)
}

#submitBtn, button {
    padding: .3em .8em; /* .8 * 16 = 12.8px */
    height: 2.5em;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background: #0070ff linear-gradient( hsla(0,0%,100%, 0.2), transparent);
    box-shadow: 0 .05em 0.25em rgba(0, 0, 0, 0.5);
    color: white;
    text-shadow: 0 -.05 .05 rgba(0, 0, 0, 0.5);
    /* font-size: 125%; */
    /* line-height: 1.5; */

}



button:hover {
    cursor: pointer;
}

#Modal {
    display: none;
    position: absolute;
    border-radius: 8px;
    padding: .8em;
    width: 18em;
    height: 8em;
    background: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.5) 20px,rgba(0, 0, 0, 0.3)  21px, rgba(0, 0, 0, 0.3)  22px, transparent 0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: .3s;
}


#list-container {
    height: 12.5em;
    width: 24em;
    border: 1px solid #bbb;
    margin-top: 5px;
    overflow-y: scroll;
}

#list-container li {
    /* display: flex;
    align-items: center; */
    overflow:hidden;
    line-height: 2em;
    padding: .3em;
}

#list-container li:hover {
    background: rgba(70, 108, 211, 0.3)
}

#searchBtn {
    position: relative;
    background: #F3F2EC linear-gradient( hsla(0,0%,100%, 0.2), transparent);
    bottom: -8px;

}

input[type='checkbox'] {
    height: 15px;
    width: 15px;
    /* middle align this checkbox */
    float: left;
}


.deleteBtn {
    float: right;
    margin-right: 5px; 
    background: #ff0000 linear-gradient( hsla(0,0%,100%, 0.2), transparent);
}

.editBtn{
    float: right;
    margin-right: 5px; 
    background: #08CB00 linear-gradient( hsla(0,0%,100%, 0.2), transparent);
}

.header {
    position: relative;
    top: -10px;
    right: 10px;
    /* font-family: inherit; */
    font-size: 14px;
    font-weight: 300;
    color: white;
}

.EditTaskBtn {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}


.EditTaskBtn button:nth-child(2) {
    background: #ff0000 linear-gradient(hsla(0, 0%, 100%, 0.2), transparent);
}

.EditTaskBtn button {
    background: #08CB00 linear-gradient( hsla(0, 0%, 100%, 0.2), transparent);
    margin-right: 20px;
}

section {
    padding: .2em .5em .5em; /* .3 * 16 = 4.8px*/
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.search-container {
    display: none;
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.8em; /* .8 * 16 = 13.8px */
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background: #fff;
    max-width: 22.5em;
    z-index: 1000;
}



#searchValue {
    height: 4em;
    width: 18em;
    overflow-y: scroll;

}