* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 10px;
    background-image: url("./background.jpg");
    background-size: cover;
}

kbd {
    font-size: 40px;
}

.sounds {
    color: #ffae00;
}

.key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: 80px;
    width: 80px;
    background: rgba(0, 0, 0, 0.2);
    border: 3px solid rgba(0, 0, 0, 0.5);
    /* box-shadow: 0 0.5em 0.825em #ffae00; */
    text-shadow: 0.2em 0.3em 0.4em rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    transition: all 0.7s;

}

.playing {
    box-shadow:0 0.05em 1.125em rgba(0, 0, 0, 0.2);
    border: 3px solid #ffae00;
    transform: scale(1.1);
}